mixin search(keyword)
  form(id="form-search")
    .row

      .col-sm
        div(class="form-group")
          label(for="name") Nhập tên nhân viên:
          input(
            type="text"
            placeholder="Tên nhân viên"
            name="name"
            id = "name"
            value = filter.name
          )
      .col-sm
        div(class="form-group")
          label(for="name") Nhập tên thiết bị:
          input(
            type="text"
            placeholder="Tên thiết bị"
            name="deviceName"
            id = "deviceName"
            value = filter.deviceName
          )
      .col-sm
        div(class="form-group")
          label(for="timeIn") Chọn ngày:
          input(
            type="date"
            name="timeIn"
            id = "timeIn"
            value = filter.timeIn
          )
    .row
      .col-sm
        button(
          class="btn btn-success"
          type="submit"
        ) Tìm