mixin search(keyword)
  form(id="form-search")
    .row
      .col-sm
        div(class="form-group")
          label(for="uid") Nhập UID: 
          input(
            type="text"
            placeholder="UID"
            id = "uid"
            name="uid"
            value = filter.uid
          )
      .col-sm
        div(class="form-group")
          label(for="name") Nhập Tên NV:
          input(
            type="text"
            placeholder="Tên NV"
            name="name"
            id = "name"
            value = filter.name
          )
      .col-sm
        div(class="form-group")
          label(for="timeIn") Chọn ngày:
          input(
            type="date"
            placeholder="Tên NV"
            name="timeIn"
            id = "timeIn"
            value = filter.timeIn
          )
    .row
      .col-sm
        button(
          class="btn btn-success"
          type="submit"
        ) Tìm