extends ../../layouts/default.pug

block main
  h1 Trang tổng quan
  .row
    .col-4 
      .card.mb-3
        .card-header.d-flex.justify-content-center Số lượng nhân viên
        .card-body.d-flex.justify-content-center #{numOfEmployees}
    .col-4
      .card.mb-3
        .card-header.d-flex.justify-content-center Số lượng thiết bị   
        .card-body.d-flex.justify-content-center #{numOfDevices}
    .col-4
      .card.mb-3
        .card-header.d-flex.justify-content-center Danh sách đang chờ
        .card-body.d-flex.justify-content-center #{numOfWaitings}
  .row
    .col-12
      .card.mb-3
        
  .row
    .col-12
      .card.mb-3
        .card-header 
          div Thống kê số lượng nhân viên đi làm
          
          div(class="form-group d-flex justify-content-center")
            label(for="dateChose") Chọn ngày:
            input(
              type="date"
              name="dateChose"
              id = "dateChose"
              value = dateChose
            )

        .card-body
          div
            canvas(id = "myChart")
            
    


  script(src="https://cdn.jsdelivr.net/npm/chart.js")
  script(src = "/admin/js/dashboard.js")
    
        
