extends ../../layouts/default.pug

block main


  h1(class="mb-4") Thêm mới nhân viên

  form(
    action=`/admin/waitingList/create`
    id="form-create-product"
    method="POST"
  )
    div(class="form-group")
      label(for="uid") UID
      input(
        type="text"
        class="form-control"
        id="_id"
        name="_id"
        required
        value = waiting.uid
      )
    div(class="form-group")
      label(for="name") Tên nhân viên
      input(
        type = "text"
        class="form-control"
        id="name"
        name="name"
        required
        rows="5"
      )
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="genderMale"
        name="gender"
        value="true"
        checked
      )
      label(for="statusActive" class="form-check-label") Nam
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="genderFemale"
        name="gender"
        value="false"
      )
      label(for="statusInActive" class="form-check-label") Nữ
    div(class="form-group")
      label(for="date") Ngày vào làm
      input(
        type="date"
        class="form-control"
        id="date"
        name="date"
        required
        value = waiting.timeIn.toISOString().split("T")[0]
      )
    div(class="form-group")
      label(for="department") Phòng ban
      input(
        type="text"
        class="form-control"
        id="department"
        name="department"
        required
      )
    
    div(class= "form-group d-none")
      input(
        type="text"
        class="form-control"
        id="idDel"
        name = "idDel"
        value = waiting.id
      )
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Tạo mới

  script(src="/admin/js/action.js")