extends ../../layouts/default.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug

block main

  h1 Danh sách nhân viên

  .card.mb-3
    .card-header Danh sách
      .card-body

        table(
          class="table table-hover table-sm"
          checkbox-multi
        )
          thead
            tr
              th
                input(type="checkbox" name="checkall")

              th Card UID
              th Họ tên
              th Giới tính
              th Ngày vào làm
              th Phòng ban
              th Hành động

          tbody
          each item, index in employees
              tr 
                td
                  input(
                    type="checkbox"
                    name="id"
                    value=""
                  )
                td #{item.id}
                td #{item.name}
                if(item.gender == true)
                  td Nam
                else
                  td Nữ
                td #{item.date.toISOString().split("T")[0]}
                td #{item.department}
                td
                  a(
                    href=`/admin/employee/edit/${item.id}`
                    class="btn btn-warning btn-sm"
                  ) Sửa
                  button(
                    class="btn btn-danger btn-sm ml-1"
                    button-delete
                    data-id=item.id
                  ) Xóa
  +pagination(pagination)


  form(
    action=""
    method="POST"
    id="form-delete-item"
    data-path = `/admin/employee/delete`
  )
  script(src="/admin/js/action.js")