extends ../../layouts/default.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug

block main

  h1 Trang giám sát

  .card.mb-3
      .card-header Bộ lọc và Tìm kiếm
      .card-body
        +search(keyword)
  .card.mb-3
    .card-header Danh sách
      .card-body
        table(
          class="table table-hover table-sm"
          checkbox-multi
        )
          thead
            tr
              th Log ID
              th Họ tên
              th Thiết bị
              th Thời gian vào làm
          tbody
          if(userLogs)
            each item, index in userLogs
              tr 
                td #{item.id}                
                td #{item.uid.name}
                td #{item.deviceID.deviceName}
                td #{item.timeIn.toString().split("GMT")[0]}

  //- +pagination(pagination)


  script(src="/admin/js/action.js")



  